# Logs
logs
*.log
npm-debug.log*

# Node modules
node_modules/
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
htmlcov/

# Local databases and environments
Backend/.env
Backend/chroma_db/
Backend/uploads/
