fastapi
uvicorn[standard]
motor
pymongo
python-dotenv

pydantic
pydantic-settings
email-validator

python-jose[cryptography]
passlib[bcrypt]

python-multipart

langchain>=1.1.0
langchain-text-splitters
langgraph

sentence-transformers

chromadb

pypdf
python-docx
langchain-groq
langchain-community

requests

httpx

openai

typing_extensions

pytest
pytest-asyncio
